<div class="educacion border border-ligth rounded-3 m-1 p-2">
    <div class="container-fluid">
        <div class="d-flex">
            <h4 class="edu-header">Educación</h4><app-edicion [ngStyle]="{display:estadoApp.logueado?'inline':'none'}"(editarEvent)="editEvent1()" (deleteEvent)="deleteEvent1()"></app-edicion>
        </div>
        <ul class="items-list">
            <li *ngFor="let educacion of miPorfolio.educacion">
                <div class="container">
                    <div class="row">
                        <div class=" col-3 col-sm-3 logo-image-container">
                            <img
                                class="img-thumbnail" height="100px" width="100px"
                                [src]="educacion.logo" alt="">
                        </div>
                        <div class="col col-sm-9 list-info">
                            <div>
                                <h5>{{educacion.school}}</h5>
                                <p>{{educacion.career}}</p>
                                <p>Titulo: {{educacion.title}} - Promedio: {{educacion.score}}</p>
                                <p>{{educacion.dateStart}} - {{educacion.dateEnd}}</p>
                            </div>
                        </div>
                    </div>
                    <app-edicion [ngStyle]="{display:estadoApp.logueado?'inline':'none'}" (editarEvent)="editEvent2()" (deleteEvent)="deleteEvent2()"></app-edicion>
                </div>

            </li>
        </ul>
    </div>
</div>
