<div class="border border-ligth rounded-3 m-1 p-2">
    <div class="d-flex">
        <h4 class="skill-header">Hard and Soft Skills</h4><app-edicion [ngStyle]="{display:estadoApp.logueado?'inline':'none'}"></app-edicion>
    </div>
    <div class="px-5" *ngFor="let skillItem of miPorfolio.skill">
        <div class="container-fluid d-flex">
            <div class="m2">
                <img src="" alt="" height="40px" width="40px">
            </div>
            <div class="container-fluid py-3">
                <h6>{{skillItem.name}}</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style]="'width:'+skillItem.progress+'%'"></div>
                </div>
            </div>
            
            <app-edicion [ngStyle]="{display:estadoApp.logueado?'inline':'none'}"></app-edicion>
            
        </div>
    </div>
</div>
