<header class="border border-ligth rounded-3">
   <!-- Navbar -->
  <app-navbar></app-navbar>
 
  <div class="px-1" >
    <!-- Background image -->
    <div >
      <div class="container-fluid d-flex justify-content-end">
        <app-edicion [ngStyle]="{display:estadoApp.logueado?'inline':'none'}" ></app-edicion>
      </div>
      <img class="img-fluid" [src]="miPorfolio.backImage" alt="">
    </div>
    
    <div class="d-flex" style="position:relative; top: -100px;">
      <img  [src]="miPorfolio.avatar" class="rounded-circle mb-3" style="width: 200px;height: 200px;"
              alt="Avatar" />
      <app-edicion [ngStyle]="{display:estadoApp.logueado?'inline':'none'}"></app-edicion>
    </div>
    
  </div>
  
  <!-- Info-personal -->
  
    <div class="d-flex px-3">
        <div class="d-flex">
          <div class="">
            <h5 class="mb-2"><strong>{{miPorfolio.name}}</strong></h5>
            <p class="text-muted">{{miPorfolio.position}} <span class="badge bg-primary">{{miPorfolio.budge}}</span></p>
            <p class="text-muted">{{miPorfolio.ubicacion}}</p>
          </div>
          <app-edicion [ngStyle]="{display:estadoApp.logueado?'inline':'none'}"></app-edicion>
        </div>
        <app-acerca-de class="mx-4 px-4"></app-acerca-de>
    </div>
      
    
      <!-- Info-personal -->
   


  </header>
